// Colours
$black: #000;
$white: #FFF;
$text-col: #69622c;
$body-font: "Cormorant Garamond", serif;
$bg-beige: #f6f4f0;
$link-col: #7a5c32;
$link-hover: #5a4323;

$btn-bg: #d6d2c4;
$btn-text: #4b3e2b;
$btn-border: #b5ac94;
$btn-hover: #eae6db;

// Mixins
@mixin font-size($size) {
    font-size: ($size * 0.0625) + rem;
}

@font-face {
    font-family: "Signature";
    font-display: auto;
    src: url("/fonts/Centralwell.ttf");
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-beige;
}

hr {
    border-color: $text-col;
    border-bottom: 0;
    margin: 15px 0 45px;
}

.wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
    min-height: 100vh;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 160px;
        background: url('/assets/bg-graphic-bottom.png') center bottom/contain no-repeat;
        z-index: -1;
        display: none;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('/assets/bg-texture.png') center/contain repeat;
        opacity: 0.3;
        z-index: -1;
    }
    @media all and (min-width: 385px) {
        &::before {
            display: block;
        }
    }
    @media all and (min-width: 576px) {
        &::before {
            width: 100px;
        }
    }
    @media all and (min-width: 700px) {
        &::before {
            width: 185px;
        }
    }
}

// Styles
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0;
    color: $text-col;
    font-family: $body-font;
    font-size: 16px;
    z-index: 0;
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65vh;
        background: url('/assets/bg-graphic-left.png') left bottom/contain no-repeat;
        z-index: -1;
    }
    &::after {
        left: unset;
        right: 0;
        background-image: url('/assets/bg-graphic-right.png');
        background-position: right bottom;
    }

    @media all and (min-width: 576px) {
        &::before,
        &::after {
            height: 80vh;
        }
    }
    @media all and (min-width: 700px) {
        &::before,
        &::after {
            height: 100vh;
        }
    }
}

.container {
    max-width: 900px;
    padding: 25px;
    background-color: rgba($white, 0.35);
    border-radius: 10px;
    text-align: center;

    .signature {
        font-family: "Signature", serif;
        font-weight: 400;
        @include font-size(66);
        color: $black;
    }

    .map-wrapper {
        iframe {
            min-height: 300px;
        }
    }

    h1 {@include font-size(40);}
    h2 {@include font-size(32);}
    h3 {@include font-size(24);}
    h4 {@include font-size(22);}
    h5 {@include font-size(20);}
    h6 {@include font-size(18);}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        margin: 0 0 20px;
        + p, + ul, + ol {
            margin-top: -5px;
        }
    }
    p,
    ul,
    ol {
        @include font-size(18);
        font-weight: 300;
        margin: 0 0 20px;
    }
    ul,
    ol {
        list-style: none;
        padding: 0;
    }
    a {
        color: $link-col;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        transition: all ease-in-out 300ms;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $link-hover;
        }
    }
    .notice {
        font-size: 85%;
    }

    @media all and (min-width: 576px) {
        .map-wrapper {
            iframe {
                min-width: 400px;
                min-height: 400px;
            }
        }
    }
    @media all and (min-width: 768px) {
        h1 {@include font-size(46);}
        h2 {@include font-size(38);}
        h3 {@include font-size(28);}
        h4 {@include font-size(24);}
        h5 {@include font-size(22);}
        h6 {@include font-size(20);}
      
        p,
        ul,
        ol {
            @include font-size(20);
        }
        .map-wrapper {
            iframe {
                min-width: 600px;
                min-height: 600px;
            }
        }
    }
    @media all and (min-width: 992px) {
        h1 {@include font-size(52);}
        h2 {@include font-size(42);}
        h3 {@include font-size(30);}
        h4 {@include font-size(26);}
        h5 {@include font-size(24);}
        h6 {@include font-size(22);}

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0 0 25px;
            + p, + ul, + ol {
                margin-top: -10px;
            }
        }
        p,
        ul,
        ol {
            @include font-size(22);
            margin: 0 0 25px;
        }
    }
}

iframe {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.btns {
    color: $btn-text;
    background-color: $btn-bg;
    border: 1px solid $btn-border;
    font-family: $body-font;
    @include font-size(22);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    &.hidden {
        display: none;
    }
    &.skinny {
        padding: 6px 20px;
    }
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        background-color: $btn-hover;
    }
}
.nav-btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
    &.hidden {
        display: none;
    }
}

.page-title {
    text-align: center;
    img {
        width: 50px;
        margin-right: -10px;
    }
}

.form {
    fieldset {
        border: 1px solid $text-col;
    }
    .field {
        &.flex-col {
            display: flex;
            flex-direction: column;
            textarea {
                width: 100%;
                min-height: 100px;
                @include font-size(20);
                font-family: $body-font;
            }
        }
        legend,
        label {
            @include font-size(18);
            + input[type=radio] {
                margin-left: 20px;
            }
        }
        + .field {
            margin-top: 15px;
        }
        @media all and (min-width: 768px) {
            legend,
            label {
                @include font-size(20);
            }
            + .field {
                margin-top: 20px;
            }
        }
        @media all and (min-width: 992px) {
            legend,
            label {
                @include font-size(22);
            }
        }
    }
    .form-group {
        display: none;
        &.active {
            display: block;
        }
    }
    .more-info {
        display: none;
        &.active {
            display: block;
        }
    }
}