// Colours
$black: #000;
$white: #FFF;
$text-col: #69622c;
$purple: #754fb1;
$pink: #b14f9c;
$blue: #4f8ab1;
$body-font: "Cormorant Garamond", serif;
$bg-beige: #f6f4f0;

// Mixins
@mixin font-size($size) {
    font-size: ($size * 0.0625) + rem;
}

@font-face {
    font-family: "Signature";
    font-display: auto;
    src: url("/fonts/Centralwell.ttf");
}

html {
    background-color: $bg-beige;
}

hr {
    border-color: $text-col;
    border-bottom: 0;
    margin: 15px 0 45px;
}

.wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
    min-height: 100vh;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('/assets/bg-texture.png') center/contain repeat;
        opacity: 0.3;
        z-index: -1;
    }
}

// Styles
body {
    position: relative;
    margin: 0;
    color: $text-col;
    font-family: $body-font;
    font-size: 16px;
    z-index: 0;
    background: url('/assets/bg-graphic-bottom.png') center bottom/13vw no-repeat;
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        background: url('/assets/bg-graphic-sides.png') left bottom/contain no-repeat;
        z-index: -1;
    }
    &::after {
        left: unset;
        right: 0;
        transform: scaleX(-1);
    }

    @media all and (min-width: 600.98px) {
        &::before,
        &::after {
            height: 100vh;
        }
    }
}

.container {
    max-width: 900px;
    padding: 25px;
    background-color: rgba($white, 0.35);
    border-radius: 10px;
    text-align: center;

    .signature {
        font-family: "Signature", serif;
        font-weight: 400;
        @include font-size(66);
        color: $black;
    }

    h1 {@include font-size(40);}
    h2 {@include font-size(32);}
    h3 {@include font-size(26);}
    h4 {@include font-size(24);}
    h5 {@include font-size(22);}
    h6 {@include font-size(20);}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        margin: 0 0 20px;
        + p, + ul, + ol {
            margin-top: -5px;
        }
    }
    p,
    ul,
    ol {
        @include font-size(18);
        font-weight: 300;
        margin: 0 0 20px;
    }

    @media all and (min-width: 768px) {
        h1 {@include font-size(46);}
        h2 {@include font-size(38);}
        h3 {@include font-size(34);}
        h4 {@include font-size(30);}
        h5 {@include font-size(26);}
        h6 {@include font-size(24);}
      
        p,
        ul,
        ol {
            @include font-size(20);
        }
    }
    @media all and (min-width: 992px) {
        h1 {@include font-size(50);}
        h2 {@include font-size(42);}
        h3 {@include font-size(36);}
        h4 {@include font-size(32);}
        h5 {@include font-size(28);}
        h6 {@include font-size(26);}

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0 0 25px;
            + p, + ul, + ol {
                margin-top: -10px;
            }
        }
        p,
        ul,
        ol {
            @include font-size(22);
            margin: 0 0 25px;
        }
    }
}

iframe {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.btns {
    color: $white;
    background-color: $purple;
    font-family: $body-font;
    @include font-size(22);
    &.hidden {
        display: none;
    }
}
.nav-btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
    &.hidden {
        display: none;
    }
}

.page-title {
    text-align: center;
    img {
        width: 50px;
        margin-right: -10px;
    }
}

.form {
    .form-group {
        display: none;
        &.active {
            display: block;
        }
    }
    .more-info {
        display: none;
        &.active {
            display: block;
        }
    }
}