body {
  margin: 0;
  background: #0e0e12;
  color: #fff;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 24px 0;
  font-weight: 600;
}

button {
  background: #7b5cff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pack-area {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  transform-origin: left center;
  transform: scaleY(0);
  transition: all 0.3s;
  &.new-pack {
    transform: scaleY(1);
  }
  &.view-deck {
    transform: scaleY(1);
    grid-template-columns: 1fr;
    .pack-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      .pack-heading {
        grid-column: 1/-1;
      }
      @media all and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        .card-inner {
          width: calc((75vw / 4));
          height: calc((105vw / 4));
        }
      }
      @media all and (min-width: 992px) {
        grid-template-columns: repeat(5, 1fr);
        .card-inner {
          width: calc((75vw / 5));
          height: calc((105vw / 5));
        }
      }
      @media all and (min-width: 1200px) {
        grid-template-columns: repeat(6, 1fr);
        .card-inner {
          width: calc((75vw / 6));
          height: calc((105vw / 6));
        }
      }
      @media all and (min-width: 1400px) {
        grid-template-columns: repeat(7, 1fr);
        .card-inner {
          width: calc((75vw / 7));
          height: calc((105vw / 7));
        }
      }
    }
  }
}

.rune-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  .heading {
    grid-column: 1/-1;
  }
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    .card-inner {
      width: calc((75vw / 4));
      height: calc((105vw / 4));
    }
  }
  @media all and (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
    .card-inner {
      width: calc((75vw / 5));
      height: calc((105vw / 5));
    }
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
    .card-inner {
      width: calc((75vw / 6));
      height: calc((105vw / 6));
    }
  }
}

.hidden {
  display: none;
}

.tts-area {
  label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .tts-code {
    width: 100% !important;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
  }
}

.menu-btns {
  text-align: center;
}

.card {
  position: relative;
  max-width: 250px;
  img {
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    transition: all 0.3s;
  }
  &.foil {
    .card-front {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(125deg,#0000 0%,#ff008040 15%,#ffc80040 25%,#00ff8040 35%,#00c8ff40 45%,#8000ff40 55%,#ff008040 65%,#0000 100%) 0 0/300% 300%;
        border-radius: 5px;
        animation: 6s ease-in-out infinite foil-shift;
        @keyframes foil-shift {
          0% {
            background-position: 0%;
          }
          50% {
            background-position: 100%;
          }
          100% {
            background-position: 0%;
          }
        }
      }
    }
  }
  &:not(.selected) {
    &:hover,
    &:focus,
    &:active {
      .card-inner {
        transform: scale(1.1);
      }
    }
  }
  .rune-count {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
    border-radius: 50%;
    &.has-count {
      padding: 3px 10px 5px;
    }
  }
}

.card-inner {
  width: calc((75vw / 3));
  height: calc((105vw / 3));
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: all 0.6s;
  cursor: pointer;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.filter-btn {
  width: 65px;
  height: 65px;
  padding: 2px 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  transition: all ease .3s;
  img {
    width: 100%;
  }
  &.active {
    background: white;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
  &.grey {
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(310%) hue-rotate(203deg) brightness(115%) contrast(78%);
    }
    &.active {
      img {
        filter: brightness(0) saturate(100%);
      }
    }
  }
}

.card {
  &.removed {
    display: none;
  }
  &.selected .card-inner {
    img {
      box-shadow: 0 0 5px white;
    }
  }
}

.card-front {
  transform: rotateY(0);
}

.card-back {
  transform: rotateY(180deg);
}