// Colours
@black: rgb(0,0,0);
@white: rgb(255,255,255);

@main: rgb(90, 32, 24);
@accent: rgb(208, 211, 46);
@hr: rgb(19, 19, 19);

@text_col: rgb(17, 17, 17);

@background_fallback: rgb(0,0,0);
@background: radial-gradient(ellipse at 5% 5%, #e3c8db 0%, #d497c3 25%, #5a7bbe 100%, transparent);

@thumbnail_grid_bg: rgba(250, 231, 248, 0.4);
@thumbnail_grid_border: rgb(250, 231, 248);
@thumbnail_grid_shadow: 0 0 10px 0 transparent;
@thumbnail_grid_hover_bg: rgb(250, 231, 248);
@thumbnail_grid_hover_shadow: 0 0 10px 0 rgba(17,17,17,0.4);

// Mixins
.fontSize(@size) {
    font-size: @size * 1px;
    font-size: @size * 0.1rem;
}
.transition(@type: all, @trans: ease-in-out, @speed: 300ms) {
    transition: @type @trans @speed;
}

// Styles
html {
    font-family: 'Alkatra', sans-serif;
    font-size: 10px;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    top: auto;
    left: -9999px;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background: @background_fallback;
    background: @background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;
    h1, h2, h3, h4, h5, h6, p, a, ul, li, span {
        color: @text_col;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 20px;
    }
    p, a, ul, li, span {
        .fontSize(20);
    }
    h1 {.fontSize(52)}
    h2 {.fontSize(42)}
    h3 {.fontSize(36)}
    h4 {.fontSize(30)}
    h5 {.fontSize(26)}
    h6 {.fontSize(22)}
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 20px;
}
.grid-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container {
    width: 1170px;
    @media (max-width: 1199px) {
        width: 950px;
    }
    @media (max-width: 991px) {
        width: 750px;
    }
    @media (max-width: 767px) {
        width: 540px;
    }
    @media (max-width: 576px) {
        width: auto;
    }
}

.section {
    &:not(:last-child) {
        border-bottom: 2px solid @hr;
    }
}

header {
    position: relative;
    .page-title {
        position: relative;
        text-align: center;
    }
}

footer {
    position: relative;
    text-align: right;
}

main {
    fieldset {
        border: 0;
        padding: 0;
        margin: 0;
        legend {
            .fontSize(42);
            color: @main;
            padding: 0;
        }
    }
}

.thumbnail-grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 20px;
    .grid-entry {
        a {
            display: grid;
            gap: 15px;
            background-color: @thumbnail_grid_bg;
            padding: 35px 25px;
            word-break: break-word;
            .fontSize(30);
            text-decoration: none;
            text-align: center;
            border: 2px solid @thumbnail_grid_border;
            border-radius: 15px;
            box-shadow: @thumbnail_grid_shadow;
            .transition();
            i {
                display: block;
            }
            &:hover, &:focus, &:active {
                background-color: @thumbnail_grid_hover_bg;
                box-shadow: @thumbnail_grid_hover_shadow;
                transform: scale(1.05);
            }
        }
    }
}